/driver/*.exp
/driver/*.ilk
/driver/*.lib
/driver/*.obj
/driver/*.opensdf
/driver/*.pdb
/driver/*.sdf
/driver/*.vcxproj.user
/driver/*.suo
/driver/*.user
/driver/ipch
/driver/x64
/driver/output
/driver/Release
/driver/Debug
/driver/out
/driver/*.dll
/driver/*.exe
/drivercfg/*.opensdf
/drivercfg/*.sdf
/drivercfg/*.vcxproj.user
/drivercfg/*.suo
/drivercfg/*.user
/drivercfg/ipch
/drivercfg/Release
/drivercfg/Debug
/drivercfg/*.dll
/drivercfg/*.exe
/drivercfg/x64
/vsthost/*.opensdf
/vsthost/*.sdf
/vsthost/*.vcxproj.user
/vsthost/*.suo
/vsthost/*.user
/vsthost/*.aps
/vsthost/*.VC.db
/vsthost/ipch
/vsthost/Release
/vsthost/Debug
/vsthost/x64
/vsthost/.vs
/vsthost/*.dll
/vsthost/*.exe
/output/
git_ver.h
vstmididrv.exe
vstmididrv.exe.asc